.button20 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
}
.button {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--app-mweb-body-b2-medium-size);
  color: var(--brand-primary);
  font-family: var(--app-mweb-labels-l4);
}
